@import url("./variables.css");

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content-area {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

#main-content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

#pdf-editor {
  display: none;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

#canvas-container {
  padding: 1rem;
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-lg);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pdf-canvas {
  display: block;
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  box-shadow: var(--shadow-md);
}

@media (max-width: 640px) {
  #main-content {
    padding: 1rem;
  }
}
