@import url("./variables.css");

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content-area {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

#main-content {
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  position: relative;

  padding: 2rem;
}

#pdf-editor {
  display: none;
  width: 100%;

  justify-content: center;
  align-items: center;
}

#canvas-container {
  overflow: visible;
  background: var(--color-bg-white);
  min-width: max-content;
}

#pdf-canvas {
  display: block;
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  width: auto;
  height: auto;
  object-fit: contain;
  box-shadow: var(--shadow-md);
}

@media (max-width: 640px) {
  #main-content {
    padding: 1rem;
  }
}
